@{
    ViewData["Title"] = "Home Page";
}

<br />

@{ 
    var list = new List<string>
    {
        "Item one",
        "Item two",
        "Item three"
    };
}

<div class="row">
    <ts-bootstrap-dropdown>
        <ts-bootstrap-button>
            Js Frameworks
        </ts-bootstrap-button>
        <ts-bootstrap-dropdown-list>
            <ts-bootstrap-dropdown-item><a href="#">jQuery</a></ts-bootstrap-dropdown-item>
            <ts-bootstrap-dropdown-item><a href="#">Mustache</a></ts-bootstrap-dropdown-item>
            <ts-bootstrap-dropdown-item><a href="#">Moment</a></ts-bootstrap-dropdown-item>
            <ts-bootstrap-dropdown-seperator></ts-bootstrap-dropdown-seperator>
            <ts-bootstrap-dropdown-item><a href="#">Angular</a></ts-bootstrap-dropdown-item>
        </ts-bootstrap-dropdown-list>
    </ts-bootstrap-dropdown>
    
    <br />
    
    <ts-bootstrap-label>Default</ts-bootstrap-label>
    <ts-bootstrap-label-primary>Primary</ts-bootstrap-label-primary>
    <ts-bootstrap-label-success>Success</ts-bootstrap-label-success>
    <ts-bootstrap-label-info>Info</ts-bootstrap-label-info>
    <ts-bootstrap-label-warning>Warning</ts-bootstrap-label-warning>
    <ts-bootstrap-label bs-css-class="label-danger">Danger</ts-bootstrap-label>
    
    <br />
    <br />

    <ts-bootstrap-jumbotron>
        <h1>Hello, world!</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </ts-bootstrap-jumbotron>
    
    <ts-bootstrap-badge>Tag# Demo</ts-bootstrap-badge>
    
    <br />
    <br />

    <ts-bootstrap-well>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
    </ts-bootstrap-well>

    <ts-bootstrap-well-sm>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
    </ts-bootstrap-well-sm>

    <ts-bootstrap-well-lg>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
        Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
        versions of Lorem Ipsum.
    </ts-bootstrap-well-lg>

    <ts-bootstrap-list-group bs-list-items="list">

    </ts-bootstrap-list-group>

    <ts-bootstrap-alert>
        <div>
            Hello! This is the default alert!!
        </div>
    </ts-bootstrap-alert>

    <ts-bootstrap-alert-info>
        <div>
            Hello! This is the info alert!!
        </div>
    </ts-bootstrap-alert-info>

    <ts-bootstrap-alert-warning>
        <div>
            Hello! This is the warning alert!!
        </div>
    </ts-bootstrap-alert-warning>
    
    <ts-bootstrap-alert-danger>
        <div>
            Hello! This is the danger alert!!
        </div>
    </ts-bootstrap-alert-danger>

    <ts-bootstrap-panel>
        <ts-bootstrap-panel-header>
            <strong>Default Panel</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
        <ts-bootstrap-panel-footer>
            Thank You!
        </ts-bootstrap-panel-footer>
    </ts-bootstrap-panel>

    <br />

    <ts-bootstrap-panel bs-css-class="panel-primary">
        <ts-bootstrap-panel-header>
            <strong>Default Panel Using Classes Without Footer</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
    </ts-bootstrap-panel>

    <br />

    <ts-bootstrap-panel-success>
        <ts-bootstrap-panel-header>
            <strong>Success Panel</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
        <ts-bootstrap-panel-footer>
            Thank You Again!!
        </ts-bootstrap-panel-footer>
    </ts-bootstrap-panel-success>

    <br />

    <ts-bootstrap-panel-warning>
        <ts-bootstrap-panel-header>
            <strong>Warning Panel</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
        <ts-bootstrap-panel-footer>
            Thank You Again!!
        </ts-bootstrap-panel-footer>
    </ts-bootstrap-panel-warning>

    <br />

    <ts-bootstrap-panel-danger>
        <ts-bootstrap-panel-header>
            <strong>Danger Panel</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
        <ts-bootstrap-panel-footer>
            Thank You Again!!
        </ts-bootstrap-panel-footer>
    </ts-bootstrap-panel-danger>

    <br />

    <ts-bootstrap-panel-primary>
        <ts-bootstrap-panel-header>
            <strong>Primary Panel</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
        <ts-bootstrap-panel-footer>
            Thank You Again!!
        </ts-bootstrap-panel-footer>
    </ts-bootstrap-panel-primary>

    <br />

    <ts-bootstrap-panel-info>
        <ts-bootstrap-panel-header>
            <strong>Info Panel Without Footer</strong>
        </ts-bootstrap-panel-header>
        <ts-bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </ts-bootstrap-panel-body>
    </ts-bootstrap-panel-info>
</div>
