@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="row">
    <bootstrap-panel>
        <bootstrap-panel-header>
            <strong>Default Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's 
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make 
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing 
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including 
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You!
        </bootstrap-panel-footer>
    </bootstrap-panel>

    <br />

    <bootstrap-panel bs-css-class="panel-primary" data-id="4c13e7df">
        <bootstrap-panel-header>
            <strong>Default Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You!
        </bootstrap-panel-footer>
    </bootstrap-panel>

    <br />

    <bootstrap-panel-success>
        <bootstrap-panel-header>
            <strong>Success Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You Again!!
        </bootstrap-panel-footer>
    </bootstrap-panel-success>

    <br />

    <bootstrap-panel-warning>
        <bootstrap-panel-header>
            <strong>Warning Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You Again!!
        </bootstrap-panel-footer>
    </bootstrap-panel-warning>

    <br />

    <bootstrap-panel-danger>
        <bootstrap-panel-header>
            <strong>Danger Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You Again!!
        </bootstrap-panel-footer>
    </bootstrap-panel-danger>

    <br />

    <bootstrap-panel-primary>
        <bootstrap-panel-header>
            <strong>Primary Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You Again!!
        </bootstrap-panel-footer>
    </bootstrap-panel-primary>

    <br />

    <bootstrap-panel-info>
        <bootstrap-panel-header>
            <strong>Info Panel</strong>
        </bootstrap-panel-header>
        <bootstrap-panel-body>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
            versions of Lorem Ipsum.
        </bootstrap-panel-body>
        <bootstrap-panel-footer>
            Thank You Again!!
        </bootstrap-panel-footer>
    </bootstrap-panel-info>
</div>
